<div>
  <% @articles.each do |article| %>

    <%= render :partial => "article", :locals => { :layout => false , :article => article } %>

  <% end %>
</div>
<br>
<%= link_to 'Back', welcome_index_path %>