<!-- jumbotron -->

<div class="ui inverted vertical teal masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">
      Sanctum Books
    </h1>
    <br>
    <h2>
      Classic pulp novels, context and collectibles
    </h2>
    <br>
  </div>
</div>

<!-- posts -->
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Have Stories</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <h3 class="ui header">We Make Bananas That Can Dance</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div
        <div class="six wide right floated column">
          <img src="assets/sample-image.png" class="ulargbordered rounded image">
        </div>
    </div>
</div>

<!-- footer -->
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Anthony Tollin</a>
          <a href="#" class="item">Sitemap</a>
          <a href="#" class="item">Upcoming events</a>
          <a href="#" class="item">Contact Us</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Content</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Pulps</a>
          <a href="#" class="item">Collectibles</a>
          <a href="#" class="item">Blog</a>
        </div>
      </div>
      <div class="seven wide column">
        <!-- <h4 class="ui inverted header">Footer Header</h4> -->
        <button class="ui circular facebook icon button">
          <i class="facebook icon"></i>
        </button>
        <button class="ui circular twitter icon button">
          <i class="twitter icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>